
.footer-foot
{
    opacity: 0.9;
    filter:alpha(opacity=60);
    box-shadow:0 1px 1px 0 rgba(0,0,0,0.12);
    box-sizing:border-box;width:100%;
    text-align:left;
    font:normal 16px sans-serif;
    padding:45px 50px;
    margin-top: 500px;
}
.footer-foot .footer-left p
{
    color:#666dce;
    font-size:14px;margin:0
}
.footer-foot p.footer-links
{
    font-size:18px;font-weight:700;
    color:#14233c;
    margin:0 0 10px;
    padding:0
}
.footer-foot p.footer-links a
{
    display:inline-block;
    line-height:1.8;
    text-decoration:none;
    color:inherit
}
.footer-foot .footer-right
{float:right;
    margin-top:6px;
    max-width:180px
}
.footer-foot .footer-right a{
    display:inline-block;width:35px;
    height:35px;
    background-color:#14233c;
    border-radius:2px;
    font-size:20px;color:#fff;
    text-align:center;
    line-height:35px;
    margin-left:3px
}
@media (max-width: 600px) {
.footer-foot .footer-left,.footer-foot .footer-right
{
    text-align:center;
}
.footer-foot .footer-right
{
    float:none;
    margin:0 auto 20px;
}
.footer-foot .footer-left p.footer-links
{
    line-height:1.8
}
}